@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Merriweather:ital,wght@0,300;0,400;0,700;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Merriweather", sans-serif;
}
/*********** Header ***********/

.header {
  margin-top: 40px;
  padding-left: 90px;
  padding-right: 90px;
  min-height: 100px;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
}

.nav {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-lists {
  display: flex;
  justify-content: flex-end;
  font-size: 18px;
}

.nav-link {
  margin-right: 40px;
  text-decoration: none;
  list-style: none;
  color: #333;
}

.nav-link:last-child {
  margin-right: 80px;
}

h1 {
  font-family: "Dancing Script", sans-serif;
  font-size: 60px;
}

/********** main ***********/
.main {
  min-height: 150vh;
  margin: 40px 90px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 60px;
}

/********** aside **************/
.aside {
  padding: 15px 8px;
  display: flex;
  flex-direction: column;
}

.aside-about {
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aside-about_img {
  width: 200px;
  border-radius: 1000px;
  margin-bottom: 20px;
}

.aside-about_text {
  line-height: 1.6;
  font-size: 15px;
  text-align: center;
}

/* Search input field */
.aside-search {
  margin-top: 30px;
  margin-bottom: 40px;
  width: 70%;
  height: 40px;
  padding: 5px;
  border: none;
  border: 1px solid #777;
  border-radius: 5px;
  box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.2);
  align-self: center;
}

/* Search Category */
.aside-category {
  height: fit-content;
  margin-bottom: 30px;
}

.aside-category h3,
.aside-images h3 {
  width: fit-content;
  padding: 4px 8px 4px 18px;
  font-size: 18px;
  margin-bottom: 10px;
  color: #333;
}

.aside-category hr,
.aside-images hr {
  margin-bottom: 15px;
  width: 90%;
}

.aside-link {
  color: #555;
  list-style: none;
  text-decoration: underline #777;
  margin-bottom: 20px;
}

.aside-links {
  padding-left: 10px;
}

/* Instagram */
.aside-images-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 150px);
  gap: 10px;
}

/* article */
.main-article {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 40px;
}

.main-blog {
  width: 90%;
  border-radius: 5px;
  box-shadow: 0 2px 4px 3px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.main-blog_img {
  width: 100%;
}

.main-blog-details {
  height: 400px;
  padding: 20px;
  display: grid;
  grid-template-rows: 0.5fr min-content 4fr 0.5fr;
  gap: 10px;
}

.main-blog h3 {
  font-size: 26px;
  color: #333;
}
.main-blog_dates,
.main-blog_category {
  color: #777;
  font-size: 14px;
}

.main-blog_category {
  width: fit-content;
  height: min-content;
  border: 0.5px solid #888;
  border-radius: 5px;
  justify-self: center;
  padding: 2px 5px;
}

.main-blog_text {
  line-height: 1.6;
  font-size: 16px;
  color: #333;
  border-top: 0.5px solid #888;
  padding-top: 10px;
  overflow: hidden;
}

/* footer */
.footer {
  box-shadow: 0px -2px 3px rgba(0, 0, 0, 0.2);
  margin-top: 100px;
  padding-top: 30px;
  height: 50px;
  text-align: center;

  background-color: #d97706;
}

.copy-right {
  color: #fff;
  font-size: 14px;
}
